$black: #212121;
$storm: #4E6B6C;
$smoke: #F7F7F7;
$accent: #8ae1a2;
$white: #FFFFFF;


/*
// old theme green
$black: #212121;
$storm: #4E6B6C;
$smoke: #F7F7F7;
$accent: #00CBA9;
$white: #FFFFFF;
*/

/*
// build off #1554f0
*/
