<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Page.Permalink }}</title>
    <link rel=canonical href="{{ .Page.Permalink }}">
    <meta name=robots content="noindex"><meta charset=utf-8><meta http-equiv=refresh content="0; url={{ .Page.Permalink }}">
    {{ if .Site.Params.twitter }}
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:site" content="@{{ .Site.Params.twitter }}">
      <meta name="twitter:creator" content="@{{ .Site.Params.twitter }}">
      <meta name="twitter:description" content="{{ .Description }}">
      {{ if .Params.title }}
        <meta name="twitter:title" content="{{ .Params.title }}">
      {{ end }}
      {{ if .Params.twitterCardImg }}
        <meta name="twitter:image" content="{{ .Params.twitterCardImg | absURL }}">
      {{ else }}
        <meta name="twitter:image" content="{{ .Site.Params.twitterCardImg | absURL }}">
      {{ end }}
    {{ end }}
  </head>
</html>
