<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  <body>
    {{ partial "body-top" . }}
    <main>

      <!-- About -->
      {{ partial "about.html" . }}

      <!-- Posts -->
      {{ if not (eq (len (where .Site.RegularPages "Section" "posts")) 0) }}
        {{ partial "posts.html" . }}
      {{ end }}

      <!-- Subscribe -->
      {{ partial "subscribe.html"}}


    </main>
    {{ partial "footer.html" . }}
    {{ partial "body-bottom" . }}
  </body>
</html>
