<section class="blog-home" id="blog">
  <div class="container">
    <div class="row center-xs">
      <div class="col-xs-12"><h1>Blog</h1></div>
    </div>
    <div class="row">
      <div class="col-xs-12 posts-list">
        {{ range first 5 (where .Site.RegularPages "Section" "blog") }}
          <article>
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <div class=sub-header>
               {{ .Date.Format (.Site.Params.dateform | default "January 2, 2006") }} · {{ .ReadingTime }} minute read
               <br />
               {{ range $index, $tag := .Params.tags -}}
               {{- if $index -}}, {{ end -}}
               <a href='{{ "/tags/" | relLangURL }}{{ . | urlize }}'>{{ $tag }}</a>
               {{- end -}}
            </div>
          </article>
        {{ end }}
      </div>
    </div>
    <div class="row center-xs">
      <div class="col-xs-12 bottom-dir">
        <h3><a href="{{ $.Site.BaseURL }}/blog/">View All Posts</a></h3>
        <h3><a href="{{ .Site.BaseURL }}/tags/">View All Posts by Tag</a></h3>
      </div>
    </div>
  </div>
</section>
