<section class="contact" id="newsletter">
  <div class="container">

    <div class="row center-xs">
      <div class="col-xs-12">
        <h1>Newsletter</h1>
      </div>
    </div>
    <h3 id="mc-msg" class="center-xs">Get notfied when I post.</h3>
    <form id="mailchimp-form"  action="https://gmail.us2.list-manage.com/subscribe/post-json?u=4a358b92db07245d711625e86&amp;id=ec46e5467c&c=?" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div class="row center-xs">
        <div class="col-xs-12 col-sm-6"><input type="email" value="" name="EMAIL" placeholder="Email" required></div>
        <div class="col-xs-12 col-sm-3">
          <!-- Thanks means a lot -->
          <input id="subscribe-btn" type="submit" value="Subscribe">
        </div>
      </div>
    </form>
  </div>
</section>
